*.class
external-libs/java/*.jar
*~
bin/*
application/GlycoWorkbench/*.exe
application/GlycoWorkbench/*.zip
application/GlycoWorkbench/launch4j/static_import/
application/GlycoWorkbench/winrun4j/static_import/
application/GlycoWorkbench/dist
application/GlycoWorkbench/packages/*
application/GlycoWorkbench/dist-zip
application/GlycanBuilder/build/*
application/GlycoWorkbench/build
lib/*
application/GlycoWorkbench/plugins/*
plugins/*
.classpath
.project
.svn
