
body {
    font-family: "Trebuchet", "Verdana", "sans-serif";
    font-size: small;
    color: #111;
}

pre, tt {
    color: #446;
    font-size: small;
}

pre { 
    background: #eee;    
    padding: 0.5em;
}

code { 
    color: #111;     
    font-family: monospace;
}

hr {  color: #eee;  }

p, td { color: #444; }

th {
    background: #ccc;
}

th b { 
    font-weight: normal;
    font-size: medium;
    font-style: italic;
    font-variant: small-caps;
}

a { 
    color: #339; 
    text-decoration: none;
}

a:hover { 
    color: #11f;    
    cursor: pointer; 
    /*background: #eee;*/
    text-decoration: underline;
}

/*  inline code snippet that link elsewhere */
a code {
    color: #947;
}

a code:hover {
    color: #33e;
}

/*  only the left-hand frames  */
a[target="classFrame"], a[target="packageFrame"] {
    padding: 2px;
    margin: 0;
    width: 100%;
    display: block;
    font-size: smaller;
    text-decoration: none;
}

a[target="classFrame"]:hover, a[target="packageFrame"]:hover {
    background: #eee;
}

a[target="classFrame"]:visited {
    /*background: #eef;*/
    font-weight: bold;
}

/*  remove the BRs in the left-hand frames */
table br {
    display: none;
}

/*  add back the BRs in the right-hand frame */
code + br {
    display: block;
}    

/*  this is only the inheritance diagram */
h2 + pre {
    background: #fff;
}

/*  this is only the method signatures in the method descriptions */
h3 + pre {
    /*background: #fff;*/
    /*font-weight: bold;*/
    /*color: #446;*/
}

dt pre {
    /*background: #fff;*/
    color: #000;
}

dt pre a {
    font-style: normal;
}

hr + dl dt {
    display: inline;
    margin-left: 8px;
}

.FrameHeadingFont {
    color: #000;
    font-weight: bold;
    font-size: medium;
    text-decoration: underline;
}
