#main {
	min-height: 200px;
}
#show_taxonomy_image_thumbnail {
	position: absolute;
	top: 20px;
	left: 100%;
	margin-left: -220px;
	opacity: 0.5;
	-moz-opacity: 0.5;
	filter: alpha(opacity=50);
	z-index: -1;			/* Set the image to be a background image */
}